
.mySwiperCard{
    display: flex;
    width: 100%;
}



.mySwiperCard .swiper-wrapper{
    display: flex;
    width: 100%;
}


.mySwiperCard .swiper-wrapper .swiper-slide{
    display: flex;
    width: 500px;
    flex-direction: column;
    height: 340px;
    justify-content: center;
}



.card_item-swiper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    height: 200px;
    text-decoration: none;
    cursor: pointer;

}

.conatiner_img_card-swiper{
    display: flex;
    position: relative;
    height: 80%;
}


.card_item-swiper img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.card_item-swiper:hover  .shape_overlod-swiper{
    background-color: #0000004d;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-in-out;
    

}



.text_nome_item-swiper{
    display: flex;
    font-size: 15px;
    font-weight: 600;
    color: #3e3e3e;
    column-gap: 5px;
}
.text_nome_item-swiper2{
    display: flex;
    font-size: 15px;
    font-weight: 500;
    color: rgb(163, 163, 163);
}


.descricao_nome_item-swiper{
    display: flex;
    font-size: 13px;
    font-weight: 400;
    color: #858585;
    text-align: justify;
}

.horario_nome_item-swiper{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color:#3e3e3e;
    text-align: justify;
}


.title_flex_wrap_evento{
    display: flex;
    color: #6c6c6c;
    padding-bottom: 1.5rem;
    font-weight: 600;
    gap: 10px;
    align-items: center;
}

.title_flex_wrap_evento i{
    font-size: 20px;
}








.conatiner_btn_eventos{
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.conatiner_header_eventos{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.select_btn_eventos{
    display: flex;
    width: 50%;
    justify-content: start;
    gap: 1rem;
}

.pagination_swiper_content{
    display: flex;
    width: 40%;
    justify-content: end;
}


.btn_prev_event, .btn_next_event{
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: #878787;
    border-radius:50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn_prev_event:hover, .btn_next_event:hover{
    background-color: #ebebeb;
}

.select_btn_eventos a{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#959595;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    width: 180px;
    height: 40px;
    font-size: 15px;

}

.select_btn_eventos a:hover{
    color: #3e3e3e;
}




.shape_select_event{
    display: flex;
    width: 90%;
    height: 1px;
    background-color: #e1e1e1;

}

#active_select{
    background-color: #161680;
    color: #ffffff;
    font-weight: 600;

}